<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><img class="logo" src="assets/images/employee_portal.png" width="150px" height="65px"></mat-toolbar>
    <br>
    <mat-nav-list>
      <a mat-list-item routerLink="/employees"><i class="material-icons">grid_on</i>&nbsp;&nbsp;&nbsp;&nbsp;Employees</a>
      <a mat-list-item routerLink="/register"><i class="material-icons">content_paste</i>&nbsp;&nbsp;&nbsp;&nbsp;Register</a>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Employee Portal</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
